<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php"
    verbose = "true"
    colors = "true"
    stopOnFailure="false" >

    <testsuites>
        <testsuite name="My Project - TestSuite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

</phpunit>
